/**reset 样式*/
* {
  box-sizing: border-box;
  padding: 0;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}

/**disabled样式*/
.is-disabled {
  opacity: 0.4;
}
